*{
    text-align: center;
}
.container{
    display: flex;
    height: 500px;
    width: 500px;
    margin-left: 33%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    height: 200px;
    width: 200px;
    border-radius: 10%;
    border: 10px solid black;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: greenyellow;
}